<div class="container">
	<div class="row row-content" ng-controller="MenuController" ng-cloak>
		<div class="col-xs-12">
			<button ng-click="toggleDetails()" type="button" class="btn btn-xs btn-primary pull-right">{{showDetails ? 'Hide Details' : 'Show Details'}}</button>

			<!-- TAB NAVIGATION -->
			<ul class="nav nav-tabs" role="tablist">
				<li ng-class="{active: isSelected($index+1)}" ng-repeat="tab in ['The menu','appetizer','mains','dessert', ]">
					<a href="#tab{{$index}}" role="tab" data-toggle="tab" ng-click="select($index+1)">{{tab|uppercase}}</a>
				</li>
			</ul>

			<!-- TAB CONTENT -->
			<div class="tab-content menu__tab-content">
				<ul class="media-list">
					<li class="media" ng-repeat="dish in dishes | filter:filtText">
						<div class="media-left media-middle">
							<a ng-href="#/menu/{{dish._id}}">
								<img class="media-object img-thumbnail"
								     ng-src={{dish.image}} alt="Uthappizza">
							</a>
						</div>
						<div class="media-body">
							<h2 class="media-heading">{{dish.name}}
								<span class="label label-danger">{{dish.label}}</span>
								<span class="badge">{{dish.price | currency}}</span></h2>
							<span class="badge">15000</span></h2>

							<p ng-show="showDetails">{{dish.description}}</p>
						</div>

					</li>
				</ul>
			</div>

		</div>
	</div>
</div>
